<html>
<head>
	<title>404 not found</title>
    <link rel="icon" type="image/png" href="<?= $link_fav; ?>" />
    <link rel="stylesheet" type="text/css" href="http://192.168.99.100.xip.io:41062/www/hypertube/css/404.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<h1 class="titre">404 not found</h1>
	<img src="http://192.168.99.100.xip.io:41062/www/hypertube/photos/404/arcade.png" class="arcade">
	<div id="cache1"></div>
	<div id="cache2"></div>
	<h1 id="score">Score : 0</h1>
	<h1 id="score_h">High score : 0</h1>
	<h1 id="txt_zone"></h1>
	<div id="scene"></div>
	<div id="perso" style='top: 48.99%;background-image: url("http://192.168.99.100.xip.io:41062/www/hypertube/photos/404/marche1.png");'></div>
	<div id="back">
		<div class="img_back" id="1"></div>
		<div class="img_back right" id="2"></div>
	</div>
	<div class="triangle topright"></div>
	<div class="triangle topleft"></div>
	<div class="triangle topright1"></div>
	<div class="triangle topleft1"></div>
	<div id="cache3"></div>
	<p id="jump" class="jump_off"></p>
</body>
<script type="text/javascript" src="http://192.168.99.100.xip.io:41062/www/hypertube/js/404.js"></script>
</html>
