<form id="usrfrm" method="post" action="../modules/change.php">
	<fieldset>
		<div class="form-group">
			<label for="in_util_name">{{util_name}}</label>
			<input type="text" class="form-control" id="in_util_name" name="in_util_name" placeholder="{{util_name_v}}" minlength={{input_util}}>
		</div>
		<div class="form-group">
			<label for="in_surname">{{surname}}</label>
			<input type="text" class="form-control" id="in_surname" name="in_surname" placeholder="{{surname_v}}" minlength={{input_surname}}>
		</div>
		<div class="form-group">
			<label for="in_name">{{name}}</label>
			<input type="text" class="form-control" id="in_name" name="in_name" placeholder="{{name_v}}" minlength={{input_name}}>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">{{mail}}</label>
			<input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{mail_v}}" minlength={{input_mail}}>
			<small id="emailHelp" class="form-text text-muted">Exemple : exemple@gmail.com</small>
		</div>
		<div class="form-group">
			<label for="in_pass">{{mdp}}</label>
			<input type="password" class="form-control" id="in_pass" name="in_pass" autocomplete="" placeholder="{{mdp_v}}" minlength={{input_mdp}}>
		</div>
		<button type="submit" class="btn btn-primary" id="change_infos" name="change_infos" value="user_form">{{valider}}</button>
	</fieldset>
</form>