<font color="red" id="error_form"></font>
<fieldset>
	<div class="form-group">
		<label for="in_util_name">{{util_name}}</label>
		<input type="text" class="form-control" id="in_util_name" placeholder="{{util_name}}" minlength={{input_util}}>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">{{mail}}</label>
		<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{mail}}" minlength={{input_mail}}>
		<small id="emailHelp" class="form-text text-muted">Exemple : exemple@gmail.com</small>
	</div>
	<button type="submit" class="btn btn-primary" id="post_form_co" value="pass_from">{{reset}}</button>
</fieldset>